<%
step = 25
count = @repository.commit_count(@branch.name)
%>
<h1><a href="/repos/<%= @repository.name %>"><%= @repository.name %></a>/<%= @branch.name %> commits</h1>

<p>In reverse chronological order.</p>

<ul>
<% @repository.commits(@branch.name, step, params[:offset]).each do |commit| %>
	<li><%= commit.id_abbrev %> — <%= commit.message %></li>
<% end %>
</ul>

<p>
<% unless params[:offset].to_i - step < 0 %>
	<a href="?offset=0">&lt;&lt;</a>
	<a href="?offset=<%= params[:offset].to_i - step %>">&lt;</a>
<% end %>
	Showing commits <%= (params[:offset].to_i || 0) + 1 %> to <%= [params[:offset].to_i + step, count].min %> of <%= count %>.
<% unless params[:offset].to_i + step > count %>
	<a href="?offset=<%= params[:offset].to_i + step %>">&gt;</a>
	<a href="?offset=<%= (count / step).to_i * step %>">&gt;&gt;</a>
<% end %>
</p>