<%
step = params[:step].to_i
step = 10 unless step > 0
offset = params[:offset].to_i
count = @repository.commit_count(@branch.name)
%>
<h1><a href="/repos/<%= @repository.name %>"><%= @repository.name %></a>/<%= @branch.name %> commits</h1>

<p>In reverse chronological order.</p>

<ul>
<% @repository.commits(@branch.name, step, params[:offset]).each do |commit| %>
	<li>
		<p><a href="/repos/<%= @repository.name %>/commits/<%= commit.id_abbrev %>"><%= commit.id_abbrev %></a>, <%= relative_time(commit.date) %>:</p>
		<p><%= commit.message %></p>
	</li>
<% end %>
</ul>

<p>
<% if offset > 0 %>
	<a href="?offset=0&amp;step=<%= step %>">&lt;&lt;</a>
	<a href="?offset=<%= [offset - step, 0].max %>&amp;step=<%= step %>">&lt;</a>
<% end %>
	Showing commits <%= (offset || 0) + 1 %> to <%= [offset + step, count].min %> of <%= count %>.
<% unless offset + step > count %>
	<a href="?offset=<%= offset + step %>&amp;step=<%= step %>">&gt;</a>
	<a href="?offset=<%= (count / step).to_i * step %>&amp;step=<%= step %>">&gt;&gt;</a>
<% end %>
</p>