<h1><%= @repository.name %> #<%= @commit.id_abbrev %> details</h1>

<dl>
	<dt>Author:</dt>
	<dd>
		<p><%= @commit.author.name %> &lt;<%= @commit.author.email %>&gt;</p>
	</dd>
	
	<dt>Date:</dt>
	<dd>
		<p><%= @commit.date %> (<%= relative_time(@commit.date) %>)</p>
	</dd>
	
	<dt>Message:</dt>
	<dd>
		<p><%= @commit.message.gsub(/\n/, "<br>\n") %></p>
	</dd>
	
	<dt>ID:</dt>
	<dd>
		<p><%= @commit.id %></p>
	</dd>
</dl>