<h1><%=repository.name%> branches</h1>

<ul>
<% repository.branches.each do |branch| %>
	<li><a href="/repos/<%= repository.name %>/<%= branch.name %>"><%= branch.name %></a> — <%= branch.commit.message %></li>
<% end %>
</ul>