<h1><%= @repo.name %> branches</h1>

<ul>
<% @repo.branches.each do |branch|
	commit = @repo.commits(branch.name, 1).first %>
	<li>
		<p><a href="/<%= escape @repo.name %>/branches/<%= escape branch.name %>"><%= escape_html branch.name %></a>, last updated <%= relative_time(commit.date) %>:</p>
		<p><%= escape_html(commit.message).gsub(/\n/, "<br>\n") %></p>
	</li>
<% end %>
</ul>

<link rel="alternate" href="/<%= escape @repo.name %>.xml" type="application/atom+xml" title="<%= escape_html @repo.name %> branch feed">