<h1><%=repository.name%> branches</h1>

<ul>
<% repository.branches.each do |branch|
	commit = repository.commits(branch.name, 1).first %>
	<li>
		<p><a href="/repos/<%= repository.name %>/branches/<%= branch.name %>"><%= branch.name %></a>, last updated <%= relative_time(commit.date) %>:</p>
		<p><%= commit.message %></p>
	</li>
<% end %>
</ul>